/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 sept. 2021, 14:08:36
    Author     : tagueu
*/

.bg-header-base {
	background-color: #8686ad !important; 
        /* background: linear-gradient(-20deg, #4f4f53 0, #d2d1d7 100%) !important;*/
}
.database-tables .nav-link-text{
    color:black;
}
.table{
    color:black;
}

form, form input {
    color:black!important;
}