.login-panel .text-muted{
    color:black!important;
}

.login-panel input::placeholder{
    color:black;
}

.header{
    padding-top: 30px !important;
    padding-bottom: 70px !important;
    background: linear-gradient(87deg, #4f4f53 0, #d2d1d7 100%) !important;
    
}